extends layout
block headjs
	script(type="text/javascript").
		var uploadName = "#{uploadName}",
				uploadUuid = "#{uploadUuid}",
				fullname = "#{name}",
				email = "#{email}",
				username = "#{username}",
				userID = "#{userID}";



block content
	// DATATABLE
	#buttonbar
		p

		a(href="/work/byupload/#{uploadUuid}/#{uploadName}/details",class="back DTTT_button DTTT_button_text")
			span
				i(class="fa fa-arrow-left")
				|  Back...
		br
		br
		a(href="javascript:window.print()",class="back DTTT_button DTTT_button_text")
			span
				i(class="fa fa-print")
				|  Print...
		p

	p Dataset: #{uploadName}
	#printView

block footjs
	script(src='/javascripts/work-print.js')