extends layout

block headjs
    script(type="text/javascript").
        var uploadName = "#{uploadName}",
            uploadUuid = "#{uploadUuid}",
            fullname = "#{name}",
            email = "#{email}",
            username = "#{username}",
            userID = "#{userID }";

block content
    // DATATABLE
    //a.editor_create New Work
    div#uploading Work Uploader.

    #workTableDiv
        table#workTable
            colgroup
                col
            colgroup.first.highlight
                col(span=5)
            colgroup.highlight
                col(span=5)
            colgroup.highlight
                col(span=5)
            colgroup.highlight
                col(span=9)
            colgroup.highlight
                col(span=6)
            colgroup.highlight
                col(span=5)
            colgroup.highlight
                col(span=5)
            colgroup.highlight
                col(span=5)
            colgroup.highlight
                col(span=8)


            thead

                tr
                    th
                    th(colspan=15) People
                    th(colspan=15) Dates
                    th(colspan=15) Places
                    th(colspan=8) Others

                    //- A Gap (As can't get it to put any padding at the end of the table...)
                    th(rowspan=3,style="visibility:hidden")

                tr

                    th(rowspan='2') ID

                    th.center(colspan=5) Authors
                    th.center(colspan=5) Recipients
                    th.center(colspan=5) People mentioned

                    th.center(colspan=9) Date from
                    th.center(colspan=6) Date to

                    th.center(colspan=5) Origin
                    th.center(colspan=5) Destination
                    th.center(colspan=5) Places mentioned

                    th(rowspan='2') Abstract
                    th(rowspan='2') Keywords
                    th(rowspan='2') Incipit
                    th(rowspan='2') Explicit
                    th(rowspan='2') Letter notes
                    th(rowspan='2') Editors notes
                    th(rowspan='2') Languages
                    th(rowspan='2') Resources

                tr
                    // Author
                    th
                        span.colname Author
                        |  Name
                    th 
                        span.colname Author
                        |  As Marked
                    th 
                        span.colname Author
                        |  Inferred
                    th 
                        span.colname Author
                        |  Uncertain
                    th 
                        span.colname Author
                        |  Notes

                    // Recipient
                    th 
                        span.colname Recipient
                        |  Name
                    th 
                        span.colname Recipient
                        |   As marked
                    th 
                        span.colname Recipient
                        |   Inferred
                    th 
                        span.colname Recipient
                        |   Uncertain
                    th 
                        span.colname Recipient
                        |   Notes

                    // People Mentioned
                    th 
                        span.colname People Mentioned
                        |   Name
                    th 
                        span.colname People Mentioned
                        |    As marked
                    th 
                        span.colname People Mentioned
                        |    Inferred
                    th 
                        span.colname People Mentioned
                        |    Uncertain
                    th 
                        span.colname People Mentioned
                        |    Notes

                    // From Date
                    th  
                        span.colname Date From
                        |  Year
                    th  
                        span.colname Date From
                        |  Month
                    th  
                        span.colname Date From
                        |  Day
                    th  
                        span.colname Date From
                        |  As marked
                    th  
                        span.colname Date From
                        |  Original calendar
                    th  
                        span.colname Date From
                        |  Inferred
                    th  
                        span.colname Date From
                        |  Uncertain
                    th  
                        span.colname Date From
                        |  Approx
                    th  
                        span.colname Date From
                        |  Notes

                    // To date
                    th  
                        span.colname Date To
                        |  Year
                    th  
                        span.colname Date To
                        |  Month
                    th  
                        span.colname Date To
                        |  Day
                    th  
                        span.colname Date To
                        |  Inferred
                    th  
                        span.colname Date To
                        |  Uncertain
                    th  
                        span.colname Date To
                        |  Approx

                    // Origin
                    th  
                        span.colname Origin
                        |  Name
                    th  
                        span.colname Origin
                        |  As marked
                    th  
                        span.colname Origin
                        |  Inferred
                    th  
                        span.colname Origin
                        |  Uncertain
                    th  
                        span.colname Origin
                        |  Notes

                    // Destination
                    th  
                        span.colname Destination
                        |  Name
                    th  
                        span.colname Destination
                        |  As marked
                    th  
                        span.colname Destination
                        |  Inferred
                    th  
                        span.colname Destination
                        |  Uncertain
                    th  
                        span.colname Destination
                        |  Notes

                    // Places mentioned
                    th  
                        span.colname Places Mentioned
                        |  Name
                    th  
                        span.colname Places Mentioned
                        |  As marked
                    th  
                        span.colname Places Mentioned
                        |  Inferred
                    th  
                        span.colname Places Mentioned
                        |  Uncertain
                    th  
                        span.colname Places Mentioned
                        |  Notes

                    // Letter notes
                    // Editors notes
            tbody
    // /DATATABLE
    //include inform-page
block footjs
    script(src='/javascripts/work-details.js')