extends layout

block headjs
	script(type="text/javascript").
		var uploadName = "#{uploadName}",
				uploadUuid = "#{uploadUuid}",
				fullname = "#{name}",
				email    = "#{email}",
				username = "#{username}",
				userID   = "#{userID }";

block content

	h3 Overview of Letters (concise view)
	p
		| Here you may sort letters by any of the categories below using up/down arrows.
		br
		b To edit a letter record:
		|  click 'Edit' in relevant letter row.
		br
		b To delete a letter record:
		|  click on relevant row to highlight; click ‘Delete’; and confirm ‘Delete’ as prompted.

	p
	div#buttonbar
		a(href="/work/byupload/#{uploadUuid}/#{uploadName}/details",class="DTTT_button DTTT_button_text")
			span
				i.fa.fa-eye
				|  Review...

	#workTableDiv

		table#workTable
			thead
				tr
					th(rowspan='2') Edit
					th(rowspan='2') Work id
					th.center(colspan='3') Date of Work
					th(rowspan='2') Authors
					th(rowspan='2') Recipients
					th(rowspan='2') Letter notes
					th(rowspan='2') Editors notes
				tr
					// Edit
					// Work Id
					th Year
					th Month
					th Day
					// Authors
					// Recipients
					// Letter notes
					// Editors notes
			tbody
		// /DATATABLE
		//include inform-page
block footjs
	script(src='/javascripts/work.js')
