extends layout

block headjs
  script(type="text/javascript").
    console.log("readying headjs");
    var uploadName = "#{uploadName}";
    var uploadName1= "#{work.upload_uuid.upload_name}";
    var uploadUuid = "#{uploadUuid}";
    var uploadUuid1= "#{work.upload_uuid._id}";
    var workID   = "#{work._id}";
    var iworkID  = "#{work.iwork_id}";
    var fullname = "#{name}";
    var email    = "#{email}";
    var username = "#{username}";
    var userID   = "#{userID }";

  //script(type="text/javascript", src="/javascripts/user.js")



block content
  h3 Edit Work
  section
    if errors.length > 0
      ul(class="errors")
        each error in errors
          li= error

    .content(data-slug='section1', data-section-content='')
      form.custom(data-abide='data-abide', id="frmWork", method="post", action="")
        include ../partials.emlo/dates_edit
        if work._id
          p
            input.button.small.saveform(type='submit', id="saveform-at-dates" , value='#{buttonText}')
            br
            a(href='#top') to top

          include ../partials.emlo/people_edit
          p
            input.button.small.saveform(type='submit', id="saveform-at-people" , value='#{buttonText}')
            br
            a(href='#top') to top
          include ../partials.emlo/places_edit
          p
            input.button.small.saveform(type='submit', id="saveform-at-places" , value='#{buttonText}')
            br
            a(href='#top') to top
          include ../partials.emlo/manifestations2_edit
          p
            input.button.small.saveform(type='submit', id="saveform-at-manifestations" , value='#{buttonText}')
            br
            a(href='#top') to top
        else
          p ( please save work as id is still #{work.iwork_id} )

        include ../partials.emlo/content_edit
        p
           input.button.small.saveform(type='submit', id="saveform-at-content" , value='#{buttonText}')
           br
           a(href='#top') to top
        //include ../partials.emlo/manifestations_edit
        include ../partials.emlo/languages_edit

        p
          input.button.small.saveform(type='submit', id="saveform-at-languages" , value='#{buttonText}')
          br
          a(href='#top') to top
        include ../partials.emlo/resources_edit
        p
         a(href='#top') to top
        //include ../partials.emlo/general_edit
        //include ../partials.emlo/standalone

        //p Work owner: #{username}
        input(type="hidden", name="userid", id="userid", value="#{userID}")
        input(type="hidden", name="workID", id="workID", value="#{workID}")

        //label(for="upload_uuid") upload_uuid
        if work.upload_uuid
          input(type="hidden", name="upload_uuid", id="upload_uuid", value="#{work.upload_uuid._id}")
        else 
          input(type="hidden", name="upload_uuid", id="upload_name", value="#{username}")
        //label(for="iwork_id") iWork_id
        input(type="hidden", name="iwork_id", id="iwork_id", value="#{work.iwork_id}")
        input.button.small.saveform(type='submit', id="saveform2" , value='#{buttonText}')
        p Once the letter record has been saved   
          a(href='/work/byupload/#{uploadUuid}/#{uploadName}') [click here then select New Work to add another record]
  #renhart
  #targetDiv
   //include exampleperson
block footjs

  script(src="/chosen_v1.4.2/chosen.jquery.min.js")

  script(src='/javascripts/workedit.js')
  script(src='/javascripts/manifestation.js')
  script(src='/javascripts/language.js')
  script(src='/javascripts/resource.js')
  script(src='/javascripts/person.js')
  script(src='/javascripts/place.js')




