extends layout

block content
  .row.collapse
    .large-6.small-6.columns
      h1= title
      if errors.length > 0
        ul(class="errors")
          each error in errors
            li= error

      form(id="formUserProfile", method="post", action="", autocomplete="off")
        label(for="username") Username
        input#username(type="text",name="username", value="#{username}")
        label(for="password") Change password (Leave blank to use old one)
        input#password(type="password", name="password", value="", autocomplete="new-password")
        label(for="FullName") Full name
        input(type="text", name="FullName", id="FullName", value="#{name}")
        label(for="Email") Email
        input(type="email", name="Email", id="Email", value="#{email}")
        input.button(type="submit", value="#{buttonText}")

